@font-face {
  font-family: "BlenderPro";
  src: url("/fonts/book.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "BlenderPro";
  src: url("/fonts/bold.ttf") format("truetype");
  font-weight: bold;
}

@font-face {
  font-family: "BlenderPro";
  src: url("/fonts/heavy.ttf") format("truetype");
  font-weight: bolder;
}
