---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="p-4 container flex flex-col items-center justify-center min-h-screen mx-auto">
    <div>
      <img src="/aqua-logo-165.png" alt="Logo" height="165" width="165" />

      <h1
        class="text-8xl font-semibold bg-gradient-to-r bg-clip-text text-transparent from-n4-darkblue via-n4-aqua to-n4-darkblue animate-text"
      >
        n4.gg
      </h1>
    </div>
  </main>
</Layout>
