---
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="p-4 container flex flex-col items-center justify-center min-h-screen mx-auto">
    <div>
      <img src="/aqua-logo-165.png" alt="Logo" />

      <h1
        class="pt-2 text-5xl font-bold text-center text-transparent bg-clip-text bg-gradient-to-tr from-n4-darkblue via-n4-aqua to-n4-gray animate-gradient-text"
      >
        n4.gg
      </h1>
    </div>
  </main>
</Layout>
